.taskForm {
  width: 100%;
  height: 64px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
}

.taskFormDark {
  background: #25273d;
  box-shadow: 0 35px 45px -20px rgba(0, 0, 0, 0.5);
}

.taskFormLight {
  background: #ffffff;
  box-shadow: 0 35px 45px -20px rgba(23, 32, 206, 0.626);
}

.taskFormCircle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  flex-shrink: 0;
}

.circleDark {
  border-color: #393a4b;
}

.circleLight {
  border-color: #e3e4f1;
}

.taskFormInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.taskFormInputDark {
  color: #c8cbe7;
}

.taskFormInputDark::placeholder {
  color: #767992;
}

.taskFormInputLight {
  color: #393a4b;
}

.taskFormInputLight::placeholder {
  color: #9495a5;
}

.taskList {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.taskListDark {
  background: #25273d;
  box-shadow: 0 35px 45px -20px rgba(0, 0, 0, 0.5);
}

.taskListLight {
  background: #ffffff;
  box-shadow: 0 35px 45px -20px rgba(194, 195, 214, 0.5);
}

.taskItem {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
}

.taskItemDark {
  border-bottom: 1px solid #393a4b;
}

.taskItemLight {
  border-bottom: 1px solid #e3e4f1;
}

.filterBar {
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 20px;
  margin-top: -24px;
}

.filterBarDark {
  background: #25273d;

}

.filterBarLight {
  background: #ffffff;

}

.circle {
  width: 24px;
  height: 24px;
  border: 1px solid #393a4b;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.circleDone {
  border: none;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.taskText {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
}

.taskTextDark {
  color: #c8cbe7;
}

.taskTextLight {
  color: #494c6b;
}

.taskTextDone {
  color: #d1d2da;
  text-decoration: line-through;
}

.itemsLeft {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filterBtn {
  background: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.filterActive {
  color: #3a7cfd;
}

.clearBtn {
  background: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.metaDark {
  color: #5b5e7e;
}

.metaLight {
  color: #9495a5;
}




@media (max-width: 600px) {
  
  .taskForm, .taskItem {
    height: 52px;
    padding: 0 20px;
  }

  .taskText {
    font-size: 14px;
  }

  
  .filterBar {
    position: relative; 
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 6px 6px;
  }

 
  .filters {
    display: flex !important; 
    position: absolute;
    left: 0;
    right: 0;
    top: 66px; 
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 6px; 
    margin: 0; 
  }

  
  .filterBarDark .filters {
    background-color: #25273d;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .filterBarLight .filters {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .itemsLeft, .clearBtn {
    font-size: 12px;
  }
}


